body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: rgb(166, 242, 245);

}
#mainSection{
    display: flex;
    align-items: center;
    justify-content:space-around ;
    height: 100vh;



}
#MainDiv{
    background-image:linear-gradient(
        rgb(243, 76, 76),rgb(88, 88, 240)
    );
    padding: 10px 10px;
    border-radius: 10px;
    height: 350px;
    width: 270px;
    box-shadow: 0px 0px 5px 5px gray;
  
}
hr{
    width: 200px;
}
#ImageDiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#ImageDiv>img{
    height: 150px;
    width: 150px;
    border-radius: 100%;
}
#aboutDiv>h1{
    text-align: center;
    font-weight: 600;
    
}
#aboutDiv>p{
    text-align: center;
    font-weight: 600;
}

#btnDiv{
    display: flex;
    gap:10px;
    padding: 30px 20px;
}
#btnDiv>button{
    padding: 5px 5px;
    background-color: rgb(236, 118, 173);
    border-radius: 5px;
    border: none;
    font-weight: 600;
}